# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/scripts

.wiki/
cspell.json
.cspell/
forge-1.20.1-47.4.10-mdk/
